###################
## Project files ##
###################
*.cpf
.cpf
*.cpfs
.cpfs
##################
## Windows Crap ##
##################
Thumbs.db
######################
## End of gitignore ##
######################
