<div class="code-block">
{{ $result := transform.HighlightCodeBlock . }}
{{ $result.Wrapped }}
  <div class="code-buttons">
    {{- with .Attributes.link }}
    <a class="btn btn-outline-light btn-sm" data-toggle="tooltip" title="Open externally" target="_blank" {{ (printf "href=%q" .) | safeHTMLAttr }}>
      <span class="bi bi-box-arrow-up-right"></span>
    </a>
    {{- end }}
    <a class="btn btn-outline-light btn-sm" data-toggle="tooltip" title="Copy to clipboard" onclick="copyText(this)">
      <span class="bi bi-clipboard"></span>
    </a>
  </div>
</div>
